@inject client.Data.QuestionListService service
@using mylib.Model

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link">
                <span class="oi oi-menu" aria-hidden="true"></span>Topics
            </a>
        </div>
        <div class="nav-item px-5">
            @foreach (var item in topics ?? new Topic[1])
            {
                <TopicSide Model="item"></TopicSide>
            }
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


    private Topic[]? topics;

    protected override async Task OnInitializedAsync()
    {
        topics = await service.GetTopics();
    }
}
