@using mylib.Model

@if(Model != null)
{
<NavLink class="nav-link" href="@string.Format("topics/{0}/questions", Model.TopicId)" Match="NavLinkMatch.All">
    <span class="oi oi-list-rich" aria-hidden="true"></span>&nbsp;&nbsp;@Model.Name
</NavLink>
    }

@code {
    [Parameter] public Topic? Model { get; set; }
}

